.coach {
    background-image: url('../../assets/person/coach.png');
    background-size: cover;
}

.soccer {
    background-image: url('../../assets/person/soccer.png');
    background-size: cover;
}

.card {
    width: 200px;
}