<h3 md-subheader>Staff</h3>

<a routerLink="/players" routerLinkActive="active" class="item-link">
  <md-list-item>
    <md-icon md-list-icon>account_circle</md-icon>
    <h4 md-line>Giocatori</h4>
    <p md-line><small>Quantita</small></p> 
  </md-list-item>
</a>
<a routerLink="/staffs" routerLinkActive="active" class="item-link">
  <md-list-item>
    <md-icon md-list-icon>account_circle</md-icon>
    <h4 md-line>Allenatori</h4>
    <p md-line><small>Quantita</small></p> 
  </md-list-item>
</a>

<md-divider></md-divider>

<h3 md-subheader>Aggregazioni</h3>

<a routerLink="/teams" routerLinkActive="active" class="item-link">
  <md-list-item>
    <md-icon md-list-icon>account_circle</md-icon>
    <h4 md-line>Squadre</h4>
    <p md-line><small>Quantita</small></p> 
  </md-list-item>
</a>
<a routerLink="/leagues" routerLinkActive="active" class="item-link">
  <md-list-item>
    <md-icon md-list-icon>account_circle</md-icon>
    <h4 md-line>Leghe</h4>
    <p md-line><small>Quantita</small></p> 
  </md-list-item>
</a>
